unpackaged/main/default/flows/Add_Skills_To_Employee_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FutureGoal</name>
        <choiceText>Future Goal</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Skill</name>
        <label>Skill</label>
        <locationX>584</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Add_Qualification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Education_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillRecordTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124K000000gykqQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Education</targetReference>
            </connector>
            <label>Education</label>
        </rules>
        <rules>
            <name>Experience_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillRecordTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124K000000gykrQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Experience</targetReference>
            </connector>
            <label>Experience</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SkillRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skill__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenAddSkills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add_Skills_To_Employee_Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Education_Skill</name>
        <label>Create Education Skill</label>
        <locationX>320</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Successfully_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>DateEducation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Find_Employee_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameEducation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>SkillObject.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SkillRecordTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Experience_Skill</name>
        <label>Create Experience Skill</label>
        <locationX>584</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Successfully_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Find_Employee_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameExperience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>SkillObject.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SkillRecordTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Qualification_Skill</name>
        <label>Create Qualification Skill</label>
        <locationX>848</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Successfully_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>Completed_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Find_Employee_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameQualification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>SkillObject.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SkillRecordTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>SkillObject.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Employee_Record</name>
        <label>Find Employee Record</label>
        <locationX>584</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Education</name>
        <label>Add Education</label>
        <locationX>320</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Education_Skill</targetReference>
        </connector>
        <fields>
            <name>NameEducation</name>
            <dataType>String</dataType>
            <fieldText>Education</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;e.g. Degree Name&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DateEducation</name>
            <dataType>Date</dataType>
            <fieldText>Completed Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;e.g. date degree was completed&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>SkillObject.Notes__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Add Skill</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Experience</name>
        <label>Add Experience</label>
        <locationX>584</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Experience_Skill</targetReference>
        </connector>
        <fields>
            <name>NameExperience</name>
            <dataType>String</dataType>
            <fieldText>Experience</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;e.g. Accounting&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;When did your experience start? e.g. worked in accounts since Jun 2002&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>SkillObject.Notes__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Add Skill</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Qualification</name>
        <label>Add Qualification</label>
        <locationX>848</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Qualification_Skill</targetReference>
        </connector>
        <fields>
            <name>NameQualification</name>
            <dataType>String</dataType>
            <fieldText>Qualification</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;e.g. salesforce qualification&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>SkillObject.Status__c</objectFieldReference>
        </fields>
        <fields>
            <name>Completed_Date</name>
            <dataType>Date</dataType>
            <fieldText>Date (if completed)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>SkillObject.Notes__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Add Skill</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Skill</name>
        <label>New Skill</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Employee_Record</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(220, 0, 126); font-size: 28px;&quot;&gt;&lt;u&gt;Education, Experience, Qualification&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_skill_would_you_like_to_add</name>
            <choiceReferences>SkillRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What skill would you like to add?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Successfully_Submitted</name>
        <label>Successfully_Submitted</label>
        <locationX>584</locationX>
        <locationY>902</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfullyAddedConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px; color: rgb(224, 4, 158);&quot;&gt;Skill Successfully Added to Employee Record&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Skill</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SkillObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill__c</objectType>
    </variables>
</Flow>
