unpackaged/main/default/flows/AUTO_InternalRequestAssignee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendAssignedToEmail</name>
        <label>SendAssignedToEmail</label>
        <locationX>184</locationX>
        <locationY>621</locationY>
        <actionName>Request__c.REQ_New_Request_Created_Alert_2020</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendAssignedToEmailDC</name>
        <label>SendAssignedToEmailDC</label>
        <locationX>693</locationX>
        <locationY>496</locationY>
        <actionName>Request__c.REQ_New_Request_Created_Alert_DC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Department</name>
        <label>Department</label>
        <locationX>186</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tech_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DepartmentPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech/Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_SalesforceAssignee</targetReference>
            </connector>
            <label>Tech/Salesforce</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DepartmentPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarketingAssignee</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Digital_Construction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DepartmentPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital Construction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_AssigneeId</targetReference>
            </connector>
            <label>Digital Construction</label>
        </rules>
    </decisions>
    <description>Changes made for Digital Construction - added new Email Alert for DC</description>
    <environments>Default</environments>
    <interviewLabel>AUTO_InternalRequestAssignee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AUTO_InternalRequestAssignee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_AssigneeId</name>
        <label>GET_AssigneeId</label>
        <locationX>530</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_DC_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RequestTypePick__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <object>DigitalConstructionRequestType__mdt</object>
        <outputAssignments>
            <assignToReference>AssigneeId</assignToReference>
            <field>UserId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MarketingAssignee</name>
        <label>MarketingAssignee</label>
        <locationX>88</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>SendAssignedToEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <stringValue>0054K000003l5Np</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Digital Construction Assignee</description>
        <name>Set_DC_Assignee</name>
        <label>Set DC Assignee</label>
        <locationX>530</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>SendAssignedToEmailDC</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <elementReference>AssigneeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Tech_SalesforceAssignee</name>
        <label>Tech/SalesforceAssignee</label>
        <locationX>288</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>SendAssignedToEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedTo__c</field>
            <value>
                <stringValue>0054K0000049ncp</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>66</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Department</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssigneeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
