unpackaged/main/default/flows/AUTO_ProjectTaskDevStatusUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>DevStatusValue</name>
        <label>DevStatusValue</label>
        <locationX>672</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Todo</targetReference>
            </connector>
            <label>To Do</label>
        </rules>
        <rules>
            <name>X10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XX10</targetReference>
            </connector>
            <label>10%</label>
        </rules>
        <rules>
            <name>X20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XX20</targetReference>
            </connector>
            <label>20%</label>
        </rules>
        <rules>
            <name>X40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>40%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XX40</targetReference>
            </connector>
            <label>40%</label>
        </rules>
        <rules>
            <name>X60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XX60</targetReference>
            </connector>
            <label>60%</label>
        </rules>
        <rules>
            <name>X80</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XX80</targetReference>
            </connector>
            <label>80%</label>
        </rules>
        <rules>
            <name>X100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DevStatusPick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100%</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XX100</targetReference>
            </connector>
            <label>100%</label>
        </rules>
    </decisions>
    <description>Updated values
Updated trigger criteria</description>
    <environments>Default</environments>
    <interviewLabel>AUTO_ProjectTaskDevStatusUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AUTO_ProjectTaskDevStatusUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Todo</name>
        <label>Todo</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjectTask</name>
        <label>UpdateProjectTask</label>
        <locationX>694</locationX>
        <locationY>905</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inspire1__Inspire_Task__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dev_Status__c</field>
            <value>
                <elementReference>$Record.DevStatusPick__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Done__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Project_Tasks__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>XX10</name>
        <label>10%</label>
        <locationX>180</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>XX100</name>
        <label>100%</label>
        <locationX>1225</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>XX20</name>
        <label>20%</label>
        <locationX>345</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>XX40</name>
        <label>40%</label>
        <locationX>569</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting on someone else</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>XX60</name>
        <label>60</label>
        <locationX>783</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>XX80</name>
        <label>80%</label>
        <locationX>971</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateProjectTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>552</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>DevStatusValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DevStatusPick__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsTechProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
