unpackaged/main/default/flows/Auto_Create_Opportunity_Target.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email_Alert</label>
        <locationX>1294</locationX>
        <locationY>1739</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Alert_No_Target_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>danielle.clough@majentasolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@majentasolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No Target Record Found</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Account_Name</name>
        <label>Account Name</label>
        <locationX>1252</locationX>
        <locationY>620</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XylemAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014K00000NHycJQAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SolutionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Creation Drawdown Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Xylem_Target_Record</targetReference>
            </connector>
            <label>Xylem</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0014K00000SU7H5QAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0014K00000NHycJQAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Target_Record_for_Opportunity_Owner</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_an_Opportunity_Target_Record_Exist</name>
        <label>Does an Opportunity Target Record Exist?</label>
        <locationX>1007</locationX>
        <locationY>1152</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Find_Opportunity_Target_Record.Opportunity__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opportunity_Target_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Opportunity_Target_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Opportunity_Target_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Does_Target_Record_Exist</name>
        <label>Does Target Record Exist?</label>
        <locationX>1251</locationX>
        <locationY>1152</locationY>
        <defaultConnector>
            <targetReference>Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Xylem_Target_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Does_an_Opportunity_Target_Record_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_an_Opportunity_Target_Record_Exist</name>
        <label>Does an Opportunity Target Record Exist?</label>
        <locationX>1876</locationX>
        <locationY>1155</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Find_Opportunity_Target_Record.Opportunity__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Target_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Opportunity_Target_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Target_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Target_Record_Exist</name>
        <label>Does Target Record Exist?</label>
        <locationX>1672</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Target_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Target_Record_for_Opportunity_Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_an_Opportunity_Target_Record_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>To automatically create an opportunity target record (junction record) that links the opportunity to the target, on stage change to won</description>
    <environments>Default</environments>
    <formulas>
        <name>New_or_Renewal</name>
        <dataType>String</dataType>
        <expression>IF( (ISPICKVAL({!$Record.Type}, &quot;Existing Customer Maintenance Renewal&quot;)), &quot;Renewal&quot;, &quot;New Business&quot; )</expression>
    </formulas>
    <formulas>
        <description>Identify which quarter the opportunity falls into</description>
        <name>Quarter</name>
        <dataType>Number</dataType>
        <expression>IF( MONTH({!$Record.CloseDate}) &lt;= 3, 1 ,
IF ( OR (MONTH({!$Record.CloseDate}) = 4 , MONTH({!$Record.CloseDate}) = 5, MONTH({!$Record.CloseDate}) = 6),
2 ,
IF( OR (MONTH({!$Record.CloseDate}) = 7 , MONTH({!$Record.CloseDate}) = 8, MONTH({!$Record.CloseDate}) = 9), 3,
4 )))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YearofOpportunityCloseDate</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.CloseDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Auto_Create_Opportunity_Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto_Create_Opportunity_Target</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity_Target_Record</name>
        <label>Create Opportunity Target Record</label>
        <locationX>1140</locationX>
        <locationY>1470</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>$Record.Margin_Calc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quarter__c</field>
            <value>
                <elementReference>Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <elementReference>Find_Xylem_Target_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>New_or_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won__c</field>
            <value>
                <elementReference>$Record.IsWon</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Target_Record</name>
        <label>Create Opportunity Target Record</label>
        <locationX>2059</locationX>
        <locationY>1458</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>$Record.Margin_Calc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quarter__c</field>
            <value>
                <elementReference>Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <elementReference>Find_Target_Record_for_Opportunity_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>New_or_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won__c</field>
            <value>
                <elementReference>$Record.IsWon</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Opportunity_Target_Record</name>
        <label>Find Opportunity Target Record</label>
        <locationX>1262</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Target_Record_for_Opportunity_Owner</name>
        <label>Find Target Record for Opportunity Owner</label>
        <locationX>1505</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Target_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto_Owner_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auto_Owner_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Auto_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YearofOpportunityCloseDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Xylem_Target_Record</name>
        <label>Find Xylem Target Record</label>
        <locationX>1261</locationX>
        <locationY>965</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Does_Target_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Xylem</stringValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YearofOpportunityCloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Auto_Owner_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Auto_Owner_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_Target_Record</name>
        <label>Update Opportunity Target Record</label>
        <locationX>909</locationX>
        <locationY>1480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Opportunity_Target_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>$Record.Margin_Calc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quarter__c</field>
            <value>
                <elementReference>Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <elementReference>Find_Xylem_Target_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>New_or_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won__c</field>
            <value>
                <elementReference>$Record.IsWon</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Target_Record</name>
        <label>Update Opportunity Target Record</label>
        <locationX>1777</locationX>
        <locationY>1464</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Opportunity_Target_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>$Record.Margin_Calc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quarter__c</field>
            <value>
                <elementReference>Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target__c</field>
            <value>
                <elementReference>Find_Target_Record_for_Opportunity_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>New_or_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won__c</field>
            <value>
                <elementReference>$Record.IsWon</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Target__c</object>
    </recordUpdates>
    <start>
        <locationX>1136</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Opportunity_Target_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Margin_Calc__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Alert_No_Target_Record</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Salesforce could not find a target record for the following opportunity: {!$Record.Name}

View here: https://majentasolutions.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
</Flow>
