unpackaged/main/default/flows/Button_CancelHoliday.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CancelledHolidayManagerNotification</name>
        <label>CancelledHolidayManagerNotification</label>
        <locationX>801</locationX>
        <locationY>686</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CancelHolidayConfirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>HolidayRequest.Manager_s_EmailAuto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@majentasolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Alert: Holiday Request Cancellation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Identify_User_Profile</name>
        <label>Identify User Profile</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>FindHolidayRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Is_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e4K000000MbmZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindHolidayRequest2</targetReference>
            </connector>
            <label>User Is Director</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreatedByName</name>
        <dataType>String</dataType>
        <expression>{!HolidayRequest.Employee_Record__r.Name}</expression>
    </formulas>
    <interviewLabel>Button_CancelHoliday {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Button_CancelHoliday</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_All_Related_Events</name>
        <label>Delete All Related Events</label>
        <locationX>801</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Update_Status_To_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_All_Related_Events2</name>
        <label>Delete All Related Events</label>
        <locationX>546</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>CancelledHolidayRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <object>Event</object>
    </recordDeletes>
    <recordLookups>
        <name>FindHolidayRequest</name>
        <label>FindHolidayRequest</label>
        <locationX>801</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_All_Related_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Holiday_Request__c</object>
        <outputReference>HolidayRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Manager_s_EmailAuto__c</queriedFields>
        <queriedFields>Employee_Record__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindHolidayRequest2</name>
        <label>FindHolidayRequest</label>
        <locationX>538</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_To_Cancelled2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Holiday_Request__c</object>
        <outputReference>HolidayRequest2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Employee_Record__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_To_Cancelled</name>
        <label>Update Status To Cancelled</label>
        <locationX>802</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>CancelledHolidayManagerNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Holiday_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Cancelled2</name>
        <label>Update Status To Cancelled</label>
        <locationX>543</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Delete_All_Related_Events2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Holiday_Request__c</object>
    </recordUpdates>
    <screens>
        <name>CancelHolidayConfirmation</name>
        <label>CancelHolidayConfirmation</label>
        <locationX>803</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelledHoliday</name>
            <fieldText>&lt;p&gt;You have successfully cancelled your &lt;a href=&quot;https://majentasolutions.lightning.force.com/lightning/r/Holiday_Request__c/{!CurrentRecordId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;holiday request&lt;/a&gt; and your manager has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CancelledHolidayRequest</name>
        <label>CancelledHolidayRequest</label>
        <locationX>544</locationX>
        <locationY>710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancelledConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have successfully cancelled your &lt;/span&gt;&lt;a href=&quot;https://majentasolutions.lightning.force.com/lightning/r/Holiday_Request__c/{!CurrentRecordId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;holiday request&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Identify_User_Profile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Alert Notification: Holiday Request for {!CreatedByName} has been cancelled. 

The holiday request has been removed from the Salesforce Calendar and the number of days booked on the employee record has been updated to exclude this request. 

https://majentasolutions--uat.lightning.force.com//lightning/r/Holiday_Request__c/{!HolidayRequest.Id}/view</text>
    </textTemplates>
    <variables>
        <name>CurrentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HolidayRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Holiday_Request__c</objectType>
    </variables>
    <variables>
        <name>HolidayRequest2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Holiday_Request__c</objectType>
    </variables>
    <variables>
        <name>RelatedEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>StatusofHoliday</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
