unpackaged/main/default/flows/FORM_CSAT_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>DEC_ContactFound</name>
        <label>DEC_ContactFound</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenNoSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retrievedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Rating</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Rating</name>
        <label>DEC_Rating</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ScreenNoSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenA</targetReference>
            </connector>
            <label>A</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenB</targetReference>
            </connector>
            <label>B</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenC</targetReference>
            </connector>
            <label>C</label>
        </rules>
    </decisions>
    <description>Added Account ID to CSAT Create
Added rating field to change rating</description>
    <dynamicChoiceSets>
        <name>RatingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RatingPick__c</picklistField>
        <picklistObject>CustomerSatisfaction__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FORM_CSAT_Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FORM_CSAT_Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>INSERT_CSAT_A</name>
        <label>INSERT_CSAT_A</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>ScreenThanks</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeedbackComments__c</field>
            <value>
                <elementReference>FeedbackA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RatingPick__c</field>
            <value>
                <elementReference>rating</elementReference>
            </value>
        </inputAssignments>
        <object>CustomerSatisfaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>INSERT_CSAT_B</name>
        <label>INSERT_CSAT_B</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>ScreenThanks</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeedbackComments__c</field>
            <value>
                <elementReference>FeedbackB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RatingPick__c</field>
            <value>
                <elementReference>rating</elementReference>
            </value>
        </inputAssignments>
        <object>CustomerSatisfaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>INSERT_CSAT_C</name>
        <label>INSERT_CSAT_C</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>ScreenThanks</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FeedbackComments__c</field>
            <value>
                <elementReference>FeedbackC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RatingPick__c</field>
            <value>
                <elementReference>rating</elementReference>
            </value>
        </inputAssignments>
        <object>CustomerSatisfaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET_Contact</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_ContactFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>retrievedContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenA</name>
        <label>ScreenA</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>INSERT_CSAT_A</targetReference>
        </connector>
        <fields>
            <name>ScreenA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenA_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsA</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We&apos;re glad you were happy with our services.  Do you have any further feedback you&apos;d like to provide us with?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RatingPick</name>
                    <choiceReferences>RatingChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FeedbackA</name>
                    <fieldText>Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenA_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Feedback</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenB</name>
        <label>ScreenB</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>INSERT_CSAT_B</targetReference>
        </connector>
        <fields>
            <name>ScreenB_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenB_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenB_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsB</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We&apos;re sorry to hear you weren&apos;t entirely satisfied with our services.  What could we have done better?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FeedbackB</name>
                    <fieldText>Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenB_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Feedback</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenC</name>
        <label>ScreenC</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>INSERT_CSAT_C</targetReference>
        </connector>
        <fields>
            <name>ScreenC_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenC_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenC_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsC</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We&apos;re sorry to hear you were dissatisfied with our services.  What should we have done better?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FeedbackC</name>
                    <fieldText>Feedback</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenC_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit Feedback</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNoSelection</name>
        <label>ScreenNoSelection</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenThanks</targetReference>
        </connector>
        <fields>
            <name>ScreenNoSelection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenNoSelection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenNoSelection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsError</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;An error has occurred.  Please close this tab and try clicking the appropriate icon in the feedback email we sent you.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenNoSelection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenThanks</name>
        <label>ScreenThanks</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenThanks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenThanks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenThanks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dsThanks</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Thank you for your feedback.  You may now close this tab.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenThanks_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retrievedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
