unpackaged/main/default/flows/FORM_InternalRequestManagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>error</name>
        <label>error</label>
        <locationX>879</locationX>
        <locationY>675</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>sticky</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>You received the following error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>success</name>
        <label>success</label>
        <locationX>202</locationX>
        <locationY>1136</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Your request has been successfully submitted.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Adds ContentDocumentLink records to List Variable for Insertion</description>
        <name>AddFileUploadToList</name>
        <label>AddFileUploadToList</label>
        <locationX>654</locationX>
        <locationY>1244</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDocs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates a Content Document Link sObject</description>
        <name>SetFileUploadOpp</name>
        <label>SetFileUploadOpp</label>
        <locationX>507</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFileUploadToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates a Content Document Link sObject</description>
        <name>SetFileUploadRequest</name>
        <label>SetFileUploadRequest</label>
        <locationX>789</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFileUploadToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if files were uploaded and whether an Opp was selected or not</description>
        <name>DEC_Check_Uploads</name>
        <label>DEC_Check_Uploads</label>
        <locationX>653</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FilesUploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarDocMultipleValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDocs</targetReference>
            </connector>
            <label>FilesUploaded</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if files were uploaded and whether an Opp was selected or not</description>
        <name>DEC_Opp_Or_Request</name>
        <label>DEC_Opp_Or_Request</label>
        <locationX>650</locationX>
        <locationY>833</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarDocMultipleValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFileUploadOpp</targetReference>
            </connector>
            <label>OppSelected</label>
        </rules>
        <rules>
            <name>OppNotSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarDocMultipleValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFileUploadRequest</targetReference>
            </connector>
            <label>OppNotSelected</label>
        </rules>
    </decisions>
    <description>05/10/2022 - Changed Intro text and Next Button label
04/10/2022 - Swapped Required By Date for Due Date, added Priority Field for DC
03/10/2022 - Upload attachment routing for DC
Changes for Digital Construction</description>
    <dynamicChoiceSets>
        <name>DepartmentPickSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DepartmentPick__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DivisionPickSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Division__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityPickSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WebsiteUpdatePickSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WebsiteUpdatePick__c</picklistField>
        <picklistObject>Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FORM_InternalRequestManagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FORM_InternalRequestManagement</label>
    <loops>
        <name>LoopDocs</name>
        <label>LoopDocs</label>
        <locationX>660</locationX>
        <locationY>663</locationY>
        <collectionReference>VarDocMultipleValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_Opp_Or_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>669</locationX>
        <locationY>326</locationY>
        <assignRecordIdToReference>NewRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>DEC_Check_Uploads</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DepartmentPick__c</field>
            <value>
                <elementReference>TypePicklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate__c</field>
            <value>
                <elementReference>RequiredByDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityRef__c</field>
            <value>
                <elementReference>OppLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>RequestPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypePicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebsiteURL__c</field>
            <value>
                <elementReference>WebsiteURL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebsiteUpdatePick__c</field>
            <value>
                <elementReference>WebsiteUpdatePick</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContentDocumentLinks</name>
        <label>CreateContentDocumentLinks</label>
        <locationX>202</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <screens>
        <name>FORM_InternalRequestManagement</name>
        <label>FORM_InternalRequestManagement</label>
        <locationX>669</locationX>
        <locationY>205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Request</targetReference>
        </connector>
        <fields>
            <name>MajentaLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>MajentaLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>majenta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>65px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Internal Requests&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This form allows you to raise internal requests for Tech/Salesforce, Marketing and Digital Construction.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FORM_InternalRequestManagement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FORM_InternalRequestManagement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Division</name>
                    <choiceReferences>DivisionPickSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which division do you work in?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FORM_InternalRequestManagement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FORM_InternalRequestManagement_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FORM_InternalRequestManagement_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TypePicklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>DepartmentPick__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Which departments services do you require?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>What type of services do you require?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RequiredByDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Please select a Due Date for your Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Digital Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RequestPriority</name>
                    <choiceReferences>PriorityPickSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select a Priority for your Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Digital Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OppLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OpportunityRef__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please select an Opportunity related to your request, if there is one.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Request__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>OppId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Digital Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FORM_InternalRequestManagement_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WebsiteUpdatePick</name>
                    <choiceReferences>WebsiteUpdatePickSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of website update do you require?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist.middleValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Website Update</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WebsiteURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>URL for website where update is required.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePicklist.middleValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Website Update</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FORM_InternalRequestManagement_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FORM_InternalRequestManagement_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CampaignFile</name>
                    <fieldText>&lt;p&gt;Please download the&lt;b style=&quot;color: rgb(220, 0, 126);&quot;&gt; &lt;/b&gt;&lt;a href=&quot;https://enerjyhub-docs.s3.eu-west-1.amazonaws.com/a4i4J000001IXbQQAW/Marketing%20Campaign%20Request.docx?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;amp;X-Amz-Credential=AKIATHVG7KBH5IMFF2O6%2F20220302%2Feu-west-1%2Fs3%2Faws4_request&amp;amp;X-Amz-Date=20220302T090855Z&amp;amp;X-Amz-Expires=84000&amp;amp;X-Amz-SignedHeaders=host&amp;amp;response-content-disposition=attachment&amp;amp;X-Amz-Signature=231e951612df6e4f99249ed492b7f137b2b246e81b7e3ae8a0ca091cac0e68a1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(220, 0, 126);&quot;&gt;&lt;b&gt;Marketing Campaign Request &lt;/b&gt;&lt;/a&gt;and fill out the details as required. Once completed, please upload the file.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FORM_InternalRequestManagement_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Campaign</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarDocMultipleValues</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5) OR (6 AND 7)</conditionLogic>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Marketing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Marketing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Website Update</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WebsiteUpdatePick</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Campaign, Website Update</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4) OR (5 AND 6)</conditionLogic>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Marketing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Website Update</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WebsiteUpdatePick</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypePicklist.middleValue</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Campaign, Website Update</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FORM_InternalRequestManagement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>File Uploads</description>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDocMultipleValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
