unpackaged/main/default/flows/FORM_ForwardDassaultAccountsToEnerjyhubOrg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>FORM_ForwardDassaultAccountsToEnerjyhubOrg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FORM_ForwardDassaultAccountsToEnerjyhubOrg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateConnectionRecord</name>
        <label>CreateConnectionRecord</label>
        <locationX>176</locationX>
        <locationY>312</locationY>
        <inputAssignments>
            <field>ConnectionId</field>
            <value>
                <stringValue>04P4K0000004CLvUAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocalRecordId</field>
            <value>
                <elementReference>AccountDetail.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>WarningScreen</name>
        <label>WarningScreen</label>
        <locationX>177</locationX>
        <locationY>178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateConnectionRecord</targetReference>
        </connector>
        <fields>
            <name>OutlineText</name>
            <fieldText>&lt;p&gt;Account: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!AccountDetail.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Will be forwarded to enerjyhub org and aligned to Dassault support team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sync Account&lt;/span&gt; to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Sync Account</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>WarningScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
