unpackaged/main/default/flows/FORM_RevRecUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ADD_Cloned_Record_To_List</name>
        <label>ADD_Cloned_Record_To_List</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>ClonedRevRecRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClonedRevRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCSubTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OC_Total_Overhead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCSubTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OC_Total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_RevRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SET_Updated_Values</name>
        <label>SET_Updated_Values</label>
        <locationX>534</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>ClonedRevRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedRevRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rev_Rec_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedRevRec.OC_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OC_Total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADD_Cloned_Record_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Cloned_Record</name>
        <label>SET_Cloned_Record</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ClonedRevRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Selected_RevRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Rev_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_IsOverhead_TRUE</name>
        <label>SET_IsOverhead_TRUE</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>IsOverhead</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RevRecSelectOverhead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_SelectedRows</name>
        <label>SET_SelectedRows</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DisplayData.selectedRows</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayDataOverhead.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_RevRec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Updated_Values</name>
        <label>SET_Updated_Values</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>ClonedRevRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedRevRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rev_Rec_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedRevRec.OC_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OC_Total_Overhead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ADD_Cloned_Record_To_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Construction</name>
        <choiceText>Construction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dassault</name>
        <choiceText>Dassault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dassault</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dassault_Direct_Cost</name>
        <choiceText>Dassault Direct Cost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dassault Direct Cost</stringValue>
        </value>
    </choices>
    <choices>
        <name>DataServices</name>
        <choiceText>Data Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>enerjyhub</name>
        <choiceText>enerjyhub</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>enerjyhub</stringValue>
        </value>
    </choices>
    <choices>
        <name>MX</name>
        <choiceText>MX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MX</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overhead</name>
        <choiceText>Overhead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overhead</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_IsOverhead</name>
        <label>DEC_IsOverhead</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_SET_Updated_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsOverhead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOverhead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_Updated_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overhead_Grouping</name>
        <label>Overhead Grouping?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>RevRecSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RevRecGrouping</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Overhead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_IsOverhead_TRUE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Amended FirstDayPrevMonth formula to account for January 
Removed Danielle Created filter
Cloning of RevRec Records for Accounts Updates</description>
    <dynamicChoiceSets>
        <name>RevRecGrouping</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grouping_Set__c</picklistField>
        <picklistObject>Revenue__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstDayLastMonth</name>
        <dataType>Date</dataType>
        <expression>IF(
    MONTH(TODAY()) = 1,
    DATE(YEAR(TODAY()) - 1, 12, 01),
    DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 01)
)</expression>
    </formulas>
    <formulas>
        <name>FirstDayPrevMonth</name>
        <dataType>Date</dataType>
        <expression>IF(
    MONTH(TODAY()) = 1,
    DATE(YEAR(TODAY()) - 1, 11, 01),
    IF(
        MONTH(TODAY()) = 2,
        DATE(YEAR(TODAY()) - 1, 12, 01),
        DATE(YEAR(TODAY()), MONTH(TODAY()) - 2, 01))
)</expression>
    </formulas>
    <interviewLabel>FORM_RevRecUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FORM_RevRecUpdate</label>
    <loops>
        <name>LOOP_Selected_RevRec</name>
        <label>LOOP_Selected_RevRec</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>DisplayData.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_Cloned_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Cloned_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>INSERT_ClonedRecords</name>
        <label>INSERT_ClonedRecords</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <inputReference>ClonedRevRecRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_RevRecs</name>
        <label>GET_RevRecs</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overhead_Grouping</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) AND NOT 4</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Grouping_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupingSetPick</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductFamilyPick</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessType__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FCAST</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <sortField>StaffNameAuto__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Rev_Rec</name>
        <label>Clone Rev Rec</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_IsOverhead</targetReference>
        </connector>
        <fields>
            <name>Clone_Rev_Rec_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Rev_Rec_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Staff Name&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ClonedRevRec.Grouping__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Rev_Rec_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FirstDayLastMonth</elementReference>
                    </defaultValue>
                    <fieldText>Rev Rec Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Rev_Rec_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SageDetail</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Sage Detail&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ClonedRevRec.Sage_Detail__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsOverhead</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CostClassification</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Cost Classification&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ClonedRevRec.Cost_Classification__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RevRecGrouping</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>Overhead</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OC_Total_Overhead</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ClonedRevRec.OC_Total__c</elementReference>
                    </defaultValue>
                    <fieldText>OC Total</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsOverhead</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OC_Total</name>
                    <dataType>Number</dataType>
                    <fieldText>OC Total</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsOverhead</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RevRecSelect</name>
        <label>RevRecSelect</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LOOP_Selected_RevRec</targetReference>
        </connector>
        <fields>
            <name>DisplayGrouping</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Selected Grouping:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!GroupingSetPick}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RevRecSelect_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RevRecSelect_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RevRecSelect_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayData</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Revenue__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GET_RevRecs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;StaffNameAuto__c&quot;,&quot;guid&quot;:&quot;column-175c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Staff Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Staff Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;OC_Total__c&quot;,&quot;guid&quot;:&quot;column-4dc9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OC Total&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;ProductFamily__c&quot;,&quot;guid&quot;:&quot;column-93ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Family&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Sage_Detail__c&quot;,&quot;guid&quot;:&quot;column-e817&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Sage Detail&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RevRecSelect_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RevRecSelectOverhead</name>
        <label>RevRecSelectOverhead</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SET_SelectedRows</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DisplayGrouping</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Selected Grouping:&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!GroupingSetPick}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RevRecSelectOverhead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RevRecSelectOverhead_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RevRecSelectOverhead_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayDataOverhead</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Revenue__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GET_RevRecs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Cost_Classification__c&quot;,&quot;guid&quot;:&quot;column-15cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Cost Classification&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OC_Total__c&quot;,&quot;guid&quot;:&quot;column-4dc9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OC Total&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Sage_Detail__c&quot;,&quot;guid&quot;:&quot;column-e817&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sage Detail&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RevRecSelectOverhead_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Grouping</name>
        <label>Select Grouping</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_RevRecs</targetReference>
        </connector>
        <fields>
            <name>Select_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FirstDayPrevMonth</elementReference>
            </defaultValue>
            <fieldText>Select Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GroupingSetPick</name>
            <choiceReferences>RevRecGrouping</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Grouping Set</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductFamilyPick</name>
            <choiceReferences>Construction</choiceReferences>
            <choiceReferences>DataServices</choiceReferences>
            <choiceReferences>enerjyhub</choiceReferences>
            <choiceReferences>MX</choiceReferences>
            <choiceReferences>Dassault</choiceReferences>
            <choiceReferences>Overhead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product Family</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Cloned_Records</name>
        <label>Show Cloned Records</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>INSERT_ClonedRecords</targetReference>
        </connector>
        <fields>
            <name>ClonedTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Revenue__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cloned Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ClonedRevRecRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-3fa8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Sage_Detail__c&quot;,&quot;guid&quot;:&quot;column-f3e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Sage Detail&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OC_Total__c&quot;,&quot;guid&quot;:&quot;column-5408&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;OC Total&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Cost_Sub_Type__c&quot;,&quot;guid&quot;:&quot;column-2f0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Cost Sub Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsOverhead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClonedTableOverhead</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Revenue__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cloned Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ClonedRevRecRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-9bdc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Cost_Classification__c&quot;,&quot;guid&quot;:&quot;column-f0f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Cost Classification&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OC_Total__c&quot;,&quot;guid&quot;:&quot;column-228e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;OC Total&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsOverhead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Show_Cloned_Records_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Cloned_Records_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Cloned_Records_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Cloned_Records_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Cloned_Records_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubTotal</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;&lt;u&gt;Subtotal&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;{!OCSubTotal}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Grouping</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedRevRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>ClonedRevRecRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>IsOverhead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OCSubTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
