unpackaged/main/default/flows/Resource_Booking_to_Calendar_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Create_New_or_Update_Existing</name>
        <label>Create New or Update Existing</label>
        <locationX>570</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_New_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Create</targetReference>
            </connector>
            <label>Create New Event</label>
        </rules>
        <rules>
            <name>Update_Existing_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventUpdate</targetReference>
            </connector>
            <label>Update Existing Event</label>
        </rules>
    </decisions>
    <formulas>
        <name>EventInfo</name>
        <dataType>String</dataType>
        <expression>{!EventQuoteNumber} + &quot; &quot; + {!EventReference}</expression>
    </formulas>
    <formulas>
        <name>EventShortDescription</name>
        <dataType>String</dataType>
        <expression>LEFT({!EventDescription},237-LEN({!EventShortTitle} + {!EventInfo})) + &quot;...&quot;</expression>
    </formulas>
    <formulas>
        <name>EventShortTitle</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!EventTitle})&gt;120,
  LEFT({!EventTitle},117) + &quot;...&quot;,
  {!EventTitle}
)</expression>
    </formulas>
    <interviewLabel>Resource Booking to Calendar Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Booking to Calendar Sync</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Event_Create</name>
        <label>Event Create</label>
        <locationX>823</locationX>
        <locationY>385</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EventBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EventFinishDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsResourceBooking__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EventOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceBooking__c</field>
            <value>
                <elementReference>ResourceBookingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShowTimeAs__c</field>
            <value>
                <elementReference>EventShowAs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Event_Lookup</name>
        <label>Event Lookup</label>
        <locationX>571</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_or_Update_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceBooking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceBookingId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>EventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Resource</name>
        <label>Lookup Resource</label>
        <locationX>424</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceId</elementReference>
            </value>
        </filters>
        <object>Resource__c</object>
        <outputAssignments>
            <assignToReference>EventOwner</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Resource_Booking</name>
        <label>Lookup Resource Booking</label>
        <locationX>276</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceBookingId</elementReference>
            </value>
        </filters>
        <object>ResourceBooking__c</object>
        <outputAssignments>
            <assignToReference>EventDescription</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventFinishDateTime</assignToReference>
            <field>FinishDateTime__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventLastUpdatedDate</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventOpportunity</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventQuoteNumber</assignToReference>
            <field>QuoteNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResourceId</assignToReference>
            <field>Resource__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventShowAs</assignToReference>
            <field>ShowTimeAs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventStartDateTime</assignToReference>
            <field>StartDateTime__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EventTitle</assignToReference>
            <field>Title__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>EventUpdate</name>
        <label>EventUpdate</label>
        <locationX>570</locationX>
        <locationY>510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EventBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EventFinishDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsResourceBooking__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EventOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShowTimeAs__c</field>
            <value>
                <elementReference>EventShowAs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>EventStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>Lookup_Resource_Booking</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EventBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EventDescription}

CoO Number: {!EventQuoteNumber}


View this Resource Booking in Saleforce.com:
https://majenta.my.salesforce.com/{!ResourceBookingId}

---

This is a READ ONLY event synchronised from Salesforce.com.

Last updated {!EventLastUpdatedDate}</text>
    </textTemplates>
    <textTemplates>
        <name>EventSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EventShortTitle} - {!EventShortDescription} {!EventInfo}</text>
    </textTemplates>
    <variables>
        <name>EventDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventFinishDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventLastUpdatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventQuoteNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventShowAs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceBookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
