unpackaged/main/default/flows/RTFL_REV_Delete_Duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Duplicate_Records_Found</name>
        <label>Duplicate Records Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Records Not Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Duplicates.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_Duplicate_Record</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <description>Added additional criteria for both triggering record and matching record</description>
    <interviewLabel>RTFL_REV_Delete_Duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTFL_REV_Delete_Duplicates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DELETE_Duplicate_Record</name>
        <label>DELETE__Duplicate_Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>GET_Duplicates</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET_Duplicates</name>
        <label>GET_Duplicates</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConnectionReceivedId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>enerjyhub</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>enerjyhub</stringValue>
            </value>
        </filters>
        <filters>
            <field>ConnectionReceivedId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Revenue__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
