unpackaged/main/default/flows/TRIGGER_Update_Rev_Rec_From_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>Fires if Invoice Date has Changed</description>
        <name>Date_IsChanged</name>
        <label>Date IsChanged</label>
        <locationX>776</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>VAT_Amount_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Amount_IsChanged</name>
        <label>Total Amount IsChanged</label>
        <locationX>785</locationX>
        <locationY>943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Amount_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TotalAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Amount</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Total Amount Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Fires if VAT Amount has Changed</description>
        <name>VAT_Amount_IsChanged</name>
        <label>VAT Amount IsChanged</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Total_Amount_IsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VAT_Amount_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaxAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TaxAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VAT_Amount</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>VAT Amount Changed</label>
        </rules>
    </decisions>
    <interviewLabel>TRIGGER_Update_Rev_Rec_From_Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TRIGGER_Update_Rev_Rec_From_Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Invoice_Date</name>
        <label>Update Invoice Date</label>
        <locationX>644</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>VAT_Amount_IsChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DateFormulaTrig__c</field>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Revenue__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Amount</name>
        <label>Update Total Amount</label>
        <locationX>645</locationX>
        <locationY>1071</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalAmountTrig__c</field>
            <value>
                <elementReference>$Record.TotalAmount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Revenue__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VAT_Amount</name>
        <label>Update VAT Amount</label>
        <locationX>644</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Total_Amount_IsChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>VATAmountTrig__c</field>
            <value>
                <elementReference>$Record.TaxAmount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Revenue__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Date_IsChanged</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
